@{
    ViewBag.Title = "Login site";
}

<div class="login">
<h1><b>Log In</b></h1>
	<section>
			<form>
				<input type="text" placeholder="Login" required></br>
				<input type="email" placeholder="Password" required></br>
				<input type="submit" value="Log In" class="submit">
			</form>
	</section>
</div>