@{
    ViewBag.Title = "Login site";
}
<link rel="stylesheet" href="~/Content/Site.css"/>
<script src="~/Scripts/dateandtime.js"></script>
<body onload="showDateAndTime()">
<div id="dateAndTime">
    <p></p>
</div>

<div class="login">
    <h1><b>Log In</b></h1>
    <section>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="error-message">
                @ViewBag.ErrorMessage
            </div>
        }

        @using (Html.BeginForm("Login", "Logging", FormMethod.Post))
        {
            <h3>
                <input type="text" name="username" placeholder="Login" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <input type="submit" value="Log In" class="submit">
            </h3>
        }
    </section>
</div>
<footer>
    <p class="copyright">© 2023 Stock Information System. All rights reserved.</p>
</footer>
</body>
