@{
    ViewBag.Title = "Login site";
}

<div class="login" xmlns="http://www.w3.org/1999/html">
<h1><b>Log In</b></h1>
	<section>
			<form>
				<h3><input type="text" placeholder="Login" required><br>
					<input type="email" placeholder="Password" required><br>
				<input type="submit" value="Log In" class="submit"></h3>
			</form>
	</section>
</div>