@using Newtonsoft.Json
@{
    ViewBag.Title = "Home Page";
}

<style>

pre {
    color: black;
    background-color: lightgrey;
    font-size: 18pt;
    }    
    
body {
    background-color:lightgrey;
}

h1 {
    text-shadow: Black 0.1em 0.1em 0.5em;
}

#dateAndTime {
	font-size:  14pt;
	text-align: center;
}

</style>

<body onload="showDateAndTime()">

<div id="dateAndTime"><p></p></div>

<div class="homepage">
	<h1><b>Stock Information System</b></h1>
	<pre id="json">@JsonConvert.SerializeObject(ViewBag.StockData, Formatting.Indented);</pre>
</div>

<script>
function showDateAndTime() {
				var date = new Date();

				var seconds = date.getSeconds();
				var minutes = date.getMinutes();
				var hour = date.getHours();
				var day = date.getDate();
				var month = date.getMonth() + 1;
				var year = date.getFullYear();

				if (seconds < 10) {
					seconds = '0' + seconds;
				}

				if (minutes < 10) {
					minutes = '0' + minutes;
				}

				if (hour < 10) {
					hour = '0' + hour;
				}

				if (day < 10) {
					day = '0' + day;
				}

				if (month < 10) {
					month = '0' + month;
				}

				document.getElementById('dateAndTime').innerHTML =
					hour +
					':' +
					minutes +
					':' +
					seconds +
					' | ' +
					day +
					'.' +
					month +
					'.' +
					year;

				setTimeout('showDateAndTime()', 1000);
			}
	</script>
</body>